#!/bin/bash

#PBS -N <%= job.name %>
#PBS -A WYOM0174
#PBS -j oe
#PBS -k eod
#PBS -q develop
#PBS -l walltime=00:05:00
#PBS -l select=1:ncpus=128:mem=235GB
#PBS -o <%= log.file %>

### Set temp to scratch
export TMPDIR=/glade/derecho/scratch/${USER}/tmp && mkdir -p ${TMPDIR}

### specify desired module environment
ml conda
conda activate r-4.3

### Run
Rscript -e 'batchtools::doJobCollection("<%= uri_1 %>")' &
Rscript -e 'batchtools::doJobCollection("<%= uri_2 %>")' &
Rscript -e 'batchtools::doJobCollection("<%= uri_3 %>")' &
Rscript -e 'batchtools::doJobCollection("<%= uri_4 %>")' &
Rscript -e 'batchtools::doJobCollection("<%= uri_5 %>")' &
Rscript -e 'batchtools::doJobCollection("<%= uri_6 %>")' &
Rscript -e 'batchtools::doJobCollection("<%= uri_7 %>")' &
Rscript -e 'batchtools::doJobCollection("<%= uri_8 %>")' &
Rscript -e 'batchtools::doJobCollection("<%= uri_9 %>")' &
Rscript -e 'batchtools::doJobCollection("<%= uri_10 %>")' &
Rscript -e 'batchtools::doJobCollection("<%= uri_11 %>")' &
Rscript -e 'batchtools::doJobCollection("<%= uri_12 %>")' &

wait
