#!/bin/bash

#PBS -N <%= job.name %>
#PBS -A WYOM0174
#PBS -j oe
#PBS -k eod
#PBS -q main
#PBS -l walltime=<%= resources$walltime %>
#PBS -l select=1:ncpus=128:ompthreads=128
#PBS -o <%= log.file %>

### Set temp to scratch
export TMPDIR=/glade/derecho/scratch/${USER}/tmp && mkdir -p ${TMPDIR}

### specify desired module environment
ml conda
conda activate r-4.3

### Run
Rscript -e 'batchtools::doJobCollection("<%= uri %>")'

